<h1 mat-dialog-title>{{dataInjected.isAddDialog ? "Agregar Shipper" : "Editar Shipper"}}</h1>
<div mat-dialog-content>
</div>
<mat-card>
  <form [formGroup]="form" (ngSubmit)="(dataInjected.isAddDialog) ? addShipper() : editShipper(dataInjected.ShippersModel.shipperId)" id="formShipper">
  <mat-card-header>
    <mat-card-title>{{dataInjected.isAddDialog ? "Nuevo Shipper" : "Editar Shipper"}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row justify-content-center align-items-center g-2">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Escribi el nombre del Shipper" formControlName="companyName" type="text">
          <mat-hint align="end">Ingrese máximo 40 caracteres.</mat-hint>
          <mat-error *ngIf="this.form.controls['companyName'].hasError('required')">
            El campo Nombre es obligatorio
          </mat-error>
          <mat-error *ngIf="this.form.controls['companyName'].hasError('pattern')">
            No se aceptan caracteres especiales ni numeros.
          </mat-error>
          <br>
          <mat-error *ngIf="this.form.controls['companyName'].hasError('maxlength')">
            ¡Máximo 40 caracteres, acordate!
          </mat-error>
        </mat-form-field>
      </div>
      <br>
      <div class="col-12">
        <mat-form-field>
          <mat-label>Telefono</mat-label>
          <input matInput placeholder="Escribi el telefono del Shipper" formControlName="phone" type="text">
          <mat-hint align="end">Ingrese máximo 24 caracteres.</mat-hint>
          <mat-error *ngIf="this.form.controls['phone'].hasError('required')">
            El campo Telefono es obligatorio
          </mat-error>
          <mat-error *ngIf="this.form.controls['phone'].hasError('maxlength')">
            ¡Máximo 24 caracteres, acordate!
          </mat-error>
          <mat-error *ngIf="this.form.controls['phone'].hasError('pattern')">
            ¡Solo se permiten numeros!
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <br>
  <button mat-raised-button color="primary" [disabled]="!form.valid">Guardar</button>
</form>
</mat-card>
