table {
  width: 100%;
}

.mat-column-editShipper, .mat-column-editShipper {
  padding-left: 5px;
}

.mat-column-deleteShipper {
  width: fit-content;
}

/* Modify pop-up alert height */
.toast-right-top {
  height: 120px !important;
}
